html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 280px;
  margin: 0 auto;
}
