@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v17-latin-300.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/open-sans-v17-latin-300.eot?#iefix') format('embedded-opentype'),

    url('../fonts/open-sans-v17-latin-300.woff2') format('woff2'),

    url('../fonts/open-sans-v17-latin-300.woff') format('woff'),

    url('../fonts/open-sans-v17-latin-300.ttf') format('truetype'),

    url('../fonts/open-sans-v17-latin-300.svg#OpenSans') format('svg');
}


@font-face {
  font-family: 'Open Sans Reg';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin-regular.eot');
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'),

    url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'),

    url('../fonts/open-sans-v17-latin-regular.woff') format('woff'),

    url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'),

    url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg');

}


@font-face {
  font-family: 'Open Sans Light Italic';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/open-sans-v17-latin-300italic.eot');

  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
    url('../fonts/open-sans-v17-latin-300italic.eot?#iefix') format('embedded-opentype'),

    url('../fonts/open-sans-v17-latin-300italic.woff2') format('woff2'),

    url('../fonts/open-sans-v17-latin-300italic.woff') format('woff'),

    url('../fonts/open-sans-v17-latin-300italic.ttf') format('truetype'),

    url('../fonts/open-sans-v17-latin-300italic.svg#OpenSans') format('svg');

}


@font-face {
  font-family: 'Open Sans Italic';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin-italic.eot');


  src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url('../fonts/open-sans-v17-latin-italic.eot?#iefix') format('embedded-opentype'),

    url('../fonts/open-sans-v17-latin-italic.woff2') format('woff2'),

    url('../fonts/open-sans-v17-latin-italic.woff') format('woff'),

    url('../fonts/open-sans-v17-latin-italic.ttf') format('truetype'),

    url('../fonts/open-sans-v17-latin-italic.svg#OpenSans') format('svg');

}


@font-face {
  font-family: 'Open Sans SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v17-latin-600.eot');

  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/open-sans-v17-latin-600.eot?#iefix') format('embedded-opentype'),

    url('../fonts/open-sans-v17-latin-600.woff2') format('woff2'),

    url('../fonts/open-sans-v17-latin-600.woff') format('woff'),

    url('../fonts/open-sans-v17-latin-600.ttf') format('truetype'),

    url('../fonts/open-sans-v17-latin-600.svg#OpenSans') format('svg');

}


@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v17-latin-700.eot');

  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/open-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'),

    url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'),

    url('../fonts/open-sans-v17-latin-700.woff') format('woff'),

    url('../fonts/open-sans-v17-latin-700.ttf') format('truetype'),

    url('../fonts/open-sans-v17-latin-700.svg#OpenSans') format('svg');

}


@font-face {
  font-family: 'Open Sans SemiBold Italic';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/open-sans-v17-latin-600italic.eot');

  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
    url('../fonts/open-sans-v17-latin-600italic.eot?#iefix') format('embedded-opentype'),

    url('../fonts/open-sans-v17-latin-600italic.woff2') format('woff2'),

    url('../fonts/open-sans-v17-latin-600italic.woff') format('woff'),

    url('../fonts/open-sans-v17-latin-600italic.ttf') format('truetype'),

    url('../fonts/open-sans-v17-latin-600italic.svg#OpenSans') format('svg');

}


@font-face {
  font-family: 'Open Sans Bold Italic';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/open-sans-v17-latin-700italic.eot');

  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
    url('../fonts/open-sans-v17-latin-700italic.eot?#iefix') format('embedded-opentype'),

    url('../fonts/open-sans-v17-latin-700italic.woff2') format('woff2'),

    url('../fonts/open-sans-v17-latin-700italic.woff') format('woff'),

    url('../fonts/open-sans-v17-latin-700italic.ttf') format('truetype'),

    url('../fonts/open-sans-v17-latin-700italic.svg#OpenSans') format('svg');

}


@font-face {
  font-family: 'Open Sans ExtraBold Italic';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/open-sans-v17-latin-800italic.eot');

  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
    url('../fonts/open-sans-v17-latin-800italic.eot?#iefix') format('embedded-opentype'),

    url('../fonts/open-sans-v17-latin-800italic.woff2') format('woff2'),

    url('../fonts/open-sans-v17-latin-800italic.woff') format('woff'),

    url('../fonts/open-sans-v17-latin-800italic.ttf') format('truetype'),

    url('../fonts/open-sans-v17-latin-800italic.svg#OpenSans') format('svg');

}


@font-face {
  font-family: 'Open Sans ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v17-latin-800.eot');

  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
    url('../fonts/open-sans-v17-latin-800.eot?#iefix') format('embedded-opentype'),

    url('../fonts/open-sans-v17-latin-800.woff2') format('woff2'),

    url('../fonts/open-sans-v17-latin-800.woff') format('woff'),

    url('../fonts/open-sans-v17-latin-800.ttf') format('truetype'),

    url('../fonts/open-sans-v17-latin-800.svg#OpenSans') format('svg');
}
@font-face {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/ubuntu-v14-latin-300.eot');

  src: local('Ubuntu Light'), local('Ubuntu-Light'),
    url('../fonts/ubuntu-v14-latin-300.eot?#iefix') format('embedded-opentype'),

    url('../fonts/ubuntu-v14-latin-300.woff2') format('woff2'),

    url('../fonts/ubuntu-v14-latin-300.woff') format('woff'),

    url('../fonts/ubuntu-v14-latin-300.ttf') format('truetype'),

    url('../fonts/ubuntu-v14-latin-300.svg#Ubuntu') format('svg');

}


@font-face {
  font-family: 'Ubuntu Light Italic';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/ubuntu-v14-latin-300italic.eot');

  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
    url('../fonts/ubuntu-v14-latin-300italic.eot?#iefix') format('embedded-opentype'),

    url('../fonts/ubuntu-v14-latin-300italic.woff2') format('woff2'),

    url('../fonts/ubuntu-v14-latin-300italic.woff') format('woff'),

    url('../fonts/ubuntu-v14-latin-300italic.ttf') format('truetype'),

    url('../fonts/ubuntu-v14-latin-300italic.svg#Ubuntu') format('svg');

}


@font-face {
  font-family: 'Ubuntu Reg';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-v14-latin-regular.eot');

  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
    url('../fonts/ubuntu-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/ubuntu-v14-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/ubuntu-v14-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/ubuntu-v14-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/ubuntu-v14-latin-regular.svg#Ubuntu') format('svg');

}

/* ubuntu-italic - latin */
@font-face {
  font-family: 'Ubuntu Italic';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/ubuntu-v14-latin-italic.eot');

  src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
    url('../fonts/ubuntu-v14-latin-italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/ubuntu-v14-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/ubuntu-v14-latin-italic.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/ubuntu-v14-latin-italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/ubuntu-v14-latin-italic.svg#Ubuntu') format('svg');

}

/* ubuntu-500 - latin */
@font-face {
  font-family: 'Ubuntu Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/ubuntu-v14-latin-500.eot');

  src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
    url('../fonts/ubuntu-v14-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/ubuntu-v14-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/ubuntu-v14-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/ubuntu-v14-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/ubuntu-v14-latin-500.svg#Ubuntu') format('svg');

}

/* ubuntu-500italic - latin */
@font-face {
  font-family: 'Ubuntu Medium Italic';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/ubuntu-v14-latin-500italic.eot');

  src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
    url('../fonts/ubuntu-v14-latin-500italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/ubuntu-v14-latin-500italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/ubuntu-v14-latin-500italic.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/ubuntu-v14-latin-500italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/ubuntu-v14-latin-500italic.svg#Ubuntu') format('svg');

}

/* ubuntu-700 - latin */
@font-face {
  font-family: 'Ubuntu Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ubuntu-v14-latin-700.eot');

  src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
    url('../fonts/ubuntu-v14-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/ubuntu-v14-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/ubuntu-v14-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/ubuntu-v14-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/ubuntu-v14-latin-700.svg#Ubuntu') format('svg');

}

/* ubuntu-700italic - latin */
@font-face {
  font-family: 'Ubuntu Bold Italic';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/ubuntu-v14-latin-700italic.eot');

  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
    url('../fonts/ubuntu-v14-latin-700italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/ubuntu-v14-latin-700italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/ubuntu-v14-latin-700italic.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/ubuntu-v14-latin-700italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/ubuntu-v14-latin-700italic.svg#Ubuntu') format('svg');

}
