
// ------- fonts
.structure-wraper {
    width: 281px;
    margin: 0 auto;
}

.card-structur__item {
    font-size: 20px;
    color: rgb(39, 39, 39);
    text-transform: uppercase;
    font-family: 'Open Sans Bold', 'Cyrillic Open Sans Bold';
}