@import './section-1-2-media.scss';

.info-1 {
  padding-top: 34px;
  padding-bottom: 26px;

  &__el {
    font-family: 'Cyrillic Ubuntu Reg';
    font-size: 14px;
    line-height: 20px;
    color: #464646;

    @media (min-width: 768px) {
      font-size: 18px;
      margin-right: 100px;
    }
    @media (min-width: 1440px) {
      font-size: 20px;
      width: 650px;
      margin-right: 0;
      padding-left: 112px;
      align-items: center;
    }
  }

  &__el_text {
    margin-bottom: 22px;
  }

  &__img {
    block-size: cover;
  }

  &__program {
    font-family: 'Cyrillic Ubuntu Reg';
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    background-color: #824fe3;
    padding: 38px 20px 28px 20px;
    border-radius: 5px;

    @media (min-width: 768px) {
      padding: 38px 140px 28px 52px;
    }
    @media (min-width: 1440px) {
      padding: 38px 256px 28px 220px;
      font-size: 25px;
      letter-spacing: 1.25px;
    }
  }

  &__program_text {
    color: #fff;

    @media (min-width: 768px) {
      position: relative;
      padding-left: 23px;
      text-align: left;
    }
  }

  &__program_text::before {
    content: '';
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 60px;
    background: #fcae26;

    @media (min-width: 768px) {
      position: absolute;
      height: 100%;
      width: 2px;
      left: 0;
      top: 0;
    }
  }
}

.info-1-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 768px) {
    position: relative;
  }
}

.wrap-1300 {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 70px;
  }
  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 116px;
    align-items: center;
  }
}

.quote-icon::before {
  display: block;
  content: '';
  width: 17px;
  height: 13px;
  padding-bottom: 20px;
  background-image: url('../images/section-1/quote.png');
  background-repeat: no-repeat;

  @media (min-width: 768px) and (max-width: 1439px) {
    position: absolute;
    left: -24px;
    top: -10px;
  }
  @media (min-width: 1440px) {
    position: relative;
    left: -24px;
  }
}
