/*
   Import partials below
*/
@import './normalize.scss';
@import './fonts.scss';
@import './fonts-cyrillic.scss';
@import './variables.scss';
@import './base.scss';
@import './mixins.scss';
@import './header.scss';
@import './header-media.scss';
@import './section_info_1.scss';
@import './section_directions_2.scss';
@import './section_learning_3.scss';
@import './section_structure_4.scss';
@import './footer.scss';
