// ------------ Colors
$color-fiolet: rgb(130, 79, 227);
$color-orange: rgb(252, 174, 38);
$color-light-blue: #1ab4a9;
$color-red: #fd6530;

//------------- sizes
$font-title-siz: 33px;
$font-sab-title-siz: 16px;

// --------- font name
$f-OpSanL: 'Open Sans Light';
$f-OpSanR: 'Open Sans Reg';
$f-OpSanLI: 'Open Sans Light Italic';
$f-OpSanI: 'Open Sans Italic';
$f-OpSanSB: 'Open Sans SemiBold';
$f-OpSanSB: 'Open Sans Bold';
$f-OpSanSBI: 'Open Sans SemiBold Italic';
$f-OpSanBI: 'Open Sans Bold Italic';
$f-OpSanEI: 'Open Sans ExtraBold Italic';
$f-OpSanEB: 'Open Sans ExtraBold';
$f-UbL: 'Ubuntu Light';
$f-UbI: 'Ubuntu Light Italic';
$f-UbR: 'Ubuntu Reg';
$f-UbI: 'Ubuntu Italic';
$f-UbM: 'Ubuntu Medium';
$f-UbMI: 'Ubuntu Medium Italic';
$f-UbB: 'Ubuntu Bold';
$f-UbBI: 'Ubuntu Bold Italic';
$f-Ubuntu: 'Open Sans Light';
